{% extends 'todo/base.html' %}
{% load static %}
{% block content %}

    <div class="container text-center">
    <h1>The password is : </h1>
    <h2 class="alert alert-success" id="password">{{password}}</h2>

    <button onclick="copyToClipboard('#password')">Copy Password</button>

    <script>
      function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
</script>

<!-- <br/><br/><input class="textBox" class="w-75 p-3" type="text" id="" placeholder="Try Here .." /> -->

    <br>
    <a href="{% url 'signupuser' %}">Go To Sign Up Page</a>
    <br>

</div>

{% endblock %}
