{% extends 'todo/base.html' %}
{% block content %}


<div class="jumbotron">
  <h1 class="display-4">Get your work in order</h1>
  <p class="lead">This application helps you to organize your day to day activities and keep a check on the work done as well as left pending. Use it to manage your tasks both at home and work place for a peaceful and stress free life.</p>
  <hr class="my-4">
  <p>Get started by signing up to our application for free.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'signupuser' %}" role="button">Sign Up</a>
</div>

{% endblock %}
